@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    background-color: aliceblue;
    place-items: center;
    font-family: cursive;
    font-weight: bold;    
}


h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: -300px;
    text-align: center;
}

.flag {
    width: 300px;
    height: 200px;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.india {
  background: linear-gradient(#ff9933 33%, #fff 33%, #fff 66%, #138808 0);
  display: grid;
  place-items: center;
}